/**
 * General elements
 */

@import url(figure.css);

body {
    margin:0px;
    padding:0px;
    font-family:verdana, arial, helvetica, sans-serif;
    font-size:11px;
    color:#333;
    background-color:white;
}
h1 {
    margin:0px 0px 15px 0px;
    padding:0px;
    font-size:28px;
    line-height:28px;
    font-weight:900;
    color:#ccc;
}

p {
    font:11px/20px verdana, arial, helvetica, sans-serif;
    margin:0px 0px 16px 0px;
    padding:0px;
}
#Content>p {margin:0px;}
#Content>p+p {text-indent:30px;}

a {
    color:#09c;
    font-size:11px;
    text-decoration:none;
    font-weight:600;
    font-family:verdana, arial, helvetica, sans-serif;
}
a:link {color:#09c;}
a:visited {color:#07a;}
a:hover {background-color:#eee;}

/**
 * Layout of the main page elements 
 */
#wrapper {
}

/**
 * Layout for header, footer
 */

#header, #footer {
    margin:50px 0px 10px 0px;
    padding:0px 0px 0px 20px;
    height:41px;
    border-style:solid;
    border-color:#999;
    border-width:1px 0px;
    line-height:40px;
    background-color:#eee;
}

.sitetitle {
    position: absolute;
    top: 5px;
    left: 130px;
    font-size: 35px;
    color: #666;
    letter-spacing: -2px;
}

.siteslogan {
    position: absolute;
    //top: 65px;
    left: 130px;
    font-style: italic;
    color: #666;
}

.sitefooter {
    position: relative;
    //top: 16px;
    left: 100px;
    color: #666;
}

.sitelogo {
    height: 41px;
}
/**
 * Layout for main
 */
#main {
    min-height: 20em;
    margin:0px 50px 50px 200px;
    padding:10px;
}

/**
 * For articles
 */
.article1 {
    width: 700px;
    border-right: 1px solid #ccc;
    padding-right: 1em;
}

.article1 h1,
.article1 h2 {
    border-bottom: 1px solid #ccc;
}

.byline {
    margin-top: 44px;
    border-top: 1px dashed #ccc;
    padding-top: 22px;
    color: #666;
}

.byline p {
    margin-top: 0;
}

/**
 * For navbar
 */
#navbar {
    position:absolute;
    top:120px;
    //left:20px;
    width:172px;
    padding:10px;
    background-color:#eee;
    border:1px dashed #999;
    line-height:17px;
}